.slick-dots li.slick-active div {
  background: white !important;
}

.translate-y-0 {
  transform: translateY(0);
}

.translate-y-full {
  transform: translateY(100%);
  transition: transform 1s ease-in-out;
}

.custom-backdrop-blur {
  backdrop-filter: blur(10px) !important; /* Add !important to ensure it is not overridden */
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .backdrop-blur-xl {
    -webkit-backdrop-filter: blur(24px);
    backdrop-filter: blur(24px);
  }
}

.backdrop-blur-xl {
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px); /* For Safari support */
}

/* نسبة العرض إلى الارتفاع ثابتة على الحاسوب */
.swiper-slide {
  aspect-ratio: 1 / 1;
}

/* نسبة العرض إلى الارتفاع مرنة على الهاتف */
@media (max-width: 480px) {
  .swiper-slide {
    aspect-ratio: auto;
  }
}